#searchButtons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

#listText {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    /* works with row or column */
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 15px;
}


.navbar-default .navbar-brand {
    color: #fcf8e3;
    font-size: 34px;
    font-family: serif;
    position: relative;
}


.navbar-default .navbar-brand:hover {
    color: #fcf8e3;
        top: -6px;
   
}

